<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>training2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3948555E1D7E85A800C10BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394855771D7E85A800C10BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394855821D7E85A800C10BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
